body{
    background-color: #d9534f;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* about
*/
body.about{
    background: #eee;
    color: #d9534f;
}
.container-about{
    margin-top: 5px;
    border: 1px solid #ccc;
    background: #fff
}
.about h1{
    font-size: 1.2em;
    text-align: center;
}
.container-about ul li{
    font-size: 14px;
    text-align: left;
    padding: 1px 0px;
    color: #333;
}
.container-about a{
    color: #d9534f;
}

.header h1{
    margin-bottom: 5px;
}
.timer span{
    font-size: 5em;
}
.buttons{
    margin-top: 20px;
}
.buttons a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px;
}
.buttons a:hover{
    background: #fff;
    color: #d9534f;
}
.icon-about a{
    right: 15px;
    top: 15px;
    position: absolute;
}
.icon-about a img{
    width: 25px;
    height: 25px;
}
