body{
    background-color: #d9534f;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

/* about
*/
body.about{
    background: #eee;
    color: #d9534f;
}
.container-about{
    margin-top: 5px;
    border: 1px solid #ccc;
    background: #fff
}
.about h1{
    font-size: 1.2em;
    text-align: center;
}
.container-about ul li{
    font-size: 14px;
    text-align: left;
    padding: 1px 0px;
    color: #333;
}
.container-about a{
    color: #d9534f;
}

.header h1{
    margin-bottom: 5px;
}
.timer span.value-timer{
    font-size: 5em;
}
.timer p{
    margin: 0px;
}
.buttons{
    margin-top: 10px;
    float: left;
    text-align: center;
    width: 100%;
}
.buttons button{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px;
    background:none;
}
.buttons button:hover:not([disabled]){
    background: #fff;
    color: #d9534f;
    cursor: pointer;
}
.buttons button:disabled{
    opacity: 0.5;
}
.icon-about a{
    right: 15px;
    top: 15px;
    position: absolute;
}
.icon-about a img{
    width: 25px;
    height: 25px;
}
