<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Timer Pomodoro</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="header">
            <h1>Timer</h1>
        </div>
        <div class="container">
            <div class="timer">
                <span class="value-timer">25:00</span>
                <p><span><strong class="count-pomodoros">0</strong></span> pomodoros</p>
            </div>
            <div class="buttons">
                <button type="button" id="play" class="alight-left"name="button">Iniciar</button>
                <button type="button" id="stop" class="alight-right" name="button" disabled>Parar</button>
            </div>
            <div class="icon-about">
                <a href="#" class="sobre">
                    <img src="../img/icon-about.svg" alt="Sobre o Timer">
                </a>
            </div>
        </div>
        <script>require("../js/renderer")</script>
    </body>
</html>
