<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Timer Pomodoro</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div class="header">
            <h1>Timer</h1>
        </div>
        <div class="container">
            <div class="timer">
                <span>25:00</span>
            </div>
            <div class="buttons">
                <a href="#" class="alight-left">Iniciar</a>
                <a href="#" class="alight-right">Parar</a>
            </div>
            <div class="icon-about">
                <a href="#" class="sobre">
                    <img src="../img/icon-about.svg" alt="Sobre o Timer">
                </a>
            </div>
        </div>
        <script src="../../renderer.js"></script>
    </body>
</html>
